.interna_contato {
  background: url('../img/contato/bg-contato.jpg') no-repeat center;
  background-size: cover;
}

.orcamento {
  width: 100%;
  margin-top: 60px;
  padding: 40px;
}

.form {
  margin-right: 140px;
}

.form label {
  display: block;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form button {
  margin-top: 10px;
  padding: 7px 40px;
  background: none;
}

.orcamento_dados {
  color: #fff;
}

.orcamento_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63e;
  line-height: 25px;
  font-weight: bold;
}

.orcamento_dados span {
  color: #000;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.dados_email {
  margin-bottom: 20px;
}

.orcamento_dados span:nth-of-type(4) {
  margin-bottom: 20px;
}

.orcamento_dados ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 10px 20px 0px 0px;
}

.orcamento_dados p {
  margin: 8px 0;
}

.redes li {
  display: inline-block;
}

.orcamento_dados ul li a img:hover {
  border-radius: 30px;
}

.mapa {
  margin-bottom: 60px;
}
